.vscode/*
*.log
*.ppm
*.blend*
build/*
hidemodels/*
src/Experimental/*
Experimental/*
!build/config.ini
outputs/*
docs/*
_scene/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
build/*.obj
!models/*.obj
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
